@import "~normalize.css";
@import "utils/vars";
@import "utils/fonts.css";

//pages
@import "modules/main/search-screen";

$border: 1px solid #ccc;

body {
  font-family: 'Roboto', sans-serif;
}

header, footer {
  h2 {
    text-align: center;
  }

}


