extends template/main

block variables
    - var title = 'Webpack + pug';
    - var description = 'description Webpack + pug';
    - var pageClass = 'index-page';

block content

    include pages/main/search-screen

    section
        .container
            h1 Pug - node template engine
            p hello for index page
