block variables

doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="description", content=description)
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        block head

    body(class=pageClass)
        .wrapper
            include ../includes/header

            .content
                block content

            include ../includes/footer
        block script
